/.backup/
/.memo/
/.vs/
/archive/
/build/
/output/
/Release/
/test_*
/x64/
/rfv_gui/obj/
/rfv_gui/bin/

*~
TAGS
GTAGS
GRTAGS
GPATH

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
